<div class="main" id="about">
    <!-- <div id="home" class="text-center pt-5">
        <h1 class="text-danger">Mohamed Ramadan Abdulla</h1>
        <h3 class="text-light">23 Years old</h3>
        <p class="text-light">Full Stack Developer using php & laravel</p>
    </div> -->
    <div class="container text-center mt-5">
        <h1 class="display-4 infinite-animation text-light">Mohamed Ramadan Abdulla</h1>
        <h3 class="text-light mt-3 infinite-animation-delay">Full Stack Developer</h3>
    </div>
    <div class="container  mb-5">
        <div class="row align-items-center">
            <!-- profile image -->
            <div class="col-md-6">
                <img src="assets/images/my-photo.jpg" class="rounded-circle d-block mx-auto">
            </div>
            <!-- about -->
            <div class="col-md-6 d-flex flex-column align-items-center">
                <h3 class="text-danger rounded-pill w-25 mb-4 ">About me</h3>
                <p class="text-md-center text-light">Passionate Junior Laravel & PHP Developer with a solid foundation
                    in web
                    development. <br>
                    Proficient in building and maintaining scalable applications using Laravel, PHP, and MySQL. <br>
                    Always eager to learn new technologies and contribute to innovative projects. <br>
                    Looking for opportunities to grow and develop my skills in a collaborative environment. <br>
                    Currently expanding my knowledge in API development and automated testing with PHPUnit.</p>
                <a href="https://drive.google.com/file/d/1kN-nYMrwA3tHyAzsUaTweBqtPkVwrsbJ/view?usp=sharing"
                    class="btn btn-outline-danger rounded-pill px-4 py-2 fw-bold text-decoration-none text-danger"
                    target="_blank">
                    Check my resume
                </a>
                <div class="social-icons mt-4">
                    <a class="m-2 text-light " href="https://www.linkedin.com/in/mohamed-ramadan-59848635a/"><i
                            class="fab fa-linkedin"></i></a>
                    <a class="m-2 text-light" href="https://www.facebook.com/mhmdrmdan610"><i
                            class="fab fa-facebook"></i></a>
                    <a class="m-2 text-light" href="https://github.com/m7ma652"><i class="fab fa-github"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>