<!-- Projects -->
<div id="projects" class="container my-5">
    <h3 class="text-center text-danger rounded-pill w-25 mx-auto mb-4">My Projects</h3>
    <div class="row text-center">
        <div class="col-md-4 mb-4">
            <div class="card h-100 shadow-sm">
                <a href="https://github.com/m7ma652/Blogs" target="_blank" class="text-decoration-none text-black">
                    <img src="assets/images/blog.jpg" class="card-img-top img-fluid" alt="Blog Project"
                        style="height: 200px; object-fit: cover;">
                </a>
                <div class="card-body bg-dark">
                    <a href="https://github.com/m7ma652/Blogs" target="_blank" class="text-decoration-none text-danger">
                        <h5 class="card-title text-light">Blogs</h5>
                        <p class="card-text">Back-end Projects</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card h-100 shadow-sm">
                <a href="https://m7ma652.github.io/youtube-clone/" target="_blank"
                    class="text-decoration-none text-black">
                    <img src="/assets/images/youtube-clone.png" class="card-img-top img-fluid" alt="youtube"
                        style=" height: 200px; object-fit: cover;">
                </a>
                <div class="card-body bg-dark">
                    <a href="https://m7ma652.github.io/youtube-clone/" target="_blank"
                        class="text-decoration-none text-danger">
                        <h5 class="card-title text-light">Youtube clone</h5>
                        <p class="card-text">Front-end Projects</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card h-100 shadow-sm">
                <a href="https://m7ma652.github.io/tweeter-clone/" target="_blank"
                    class="text-decoration-none text-black">
                    <img src="assets/images/tweeter-clone.png" class="card-img-top img-fluid" alt="tweeter"
                        style="height: 200px; object-fit: cover;">
                </a>
                <div class="card-body bg-dark">
                    <a href="https://m7ma652.github.io/tweeter-clone/" target="_blank"
                        class="text-decoration-none text-danger">
                        <h5 class="card-title text-light">Tweeter clone</h5>
                        <p class="card-text">Front-end Projects</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card h-100 shadow-sm">
                <a href="https://m7ma652.github.io/portfolio/" target="_blank" class="text-decoration-none text-black">
                    <img src="assets/images/portfolio.png" class="card-img-top img-fluid" alt="portfolio"
                        style="height: 200px; object-fit: cover;">
                </a>
                <div class="card-body bg-dark">
                    <a href="https://m7ma652.github.io/portfolio/" target="_blank"
                        class="text-decoration-none text-danger">
                        <h5 class="card-title text-light">Portfolio</h5>
                        <p class="card-text">Front-end Projects using HTML & CSS</p>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card h-100 shadow-sm">
                <a href="https://github.com/thepcvirus/Book-Store-Ecommerce-Project" target="_blank"
                    class="text-decoration-none text-black">
                    <img src="assets/images/ketapi.png" class="card-img-top img-fluid" alt="Ketapi"
                        style="height: 200px; object-fit: cover;">
                </a>
                <div class="card-body bg-dark" style="display: flex;">
                    <a href="https://github.com/thepcvirus/Book-Store-Ecommerce-Project" target="_blank"
                        class="text-decoration-none text-danger">
                        <h5 class="card-title text-light">Portfolio</h5>
                        <p class="card-text">Front-end Project Using vanilla js and firebase</p>
                    </a>
                    <a href="https://jsecommerce-9350b.web.app/" target="_blank"
                        class="text-decoration-none">
                        <h5 class="card-title text-light">Live Demo</h5>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>